<body>
<style>
body{
    background:#000;}
    </style>
    
<title>Text Example</title>
<style>
div.container p {
text-align: left;
font-family: Georgia;
font-size: 14px;
font-style: normal;
font-weight: normal;
text-decoration: none;
line-height: 25px;
text-transform: none;
color: #ffffff;
}

</style>

<div class="container">
<p>video used in background: https://youtu.be/JaE244y_LDI</p>
<p></p>
    <p> tv image: https://www.my00stv.com/
<p></p>
<p>gallery image: https://community.usa.canon.com/t5/Professional-Video/Vixia-HFG30-Audio-feedback-HDMI-cable-through-external-monitor-s/td-p/184677</p>
<p></p>
<p></p>
<p>lighter image: took myself</p>
<p></p>
<p></p>
<p>concepts ID: https://fake-template.com/downloads/sweden-id-card-template-psd/</p>
<p></p>
<p></p>
<p>socials image source: some picture of steve jobs holding an iPhone 3G you can find it on google</p>
<p></p>
<p></p>
<p>video/film (highway sign) projects image source: https://www.bostonherald.com/2020/10/19/sign-of-the-times-as-highway-exits-are-given-new-confusing-numbers/</p>
<p></p>
<p> Staff Photo By Nancy Lane/MediaNews Group/Boston Herald)</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>site made in HTML and CSS by me (some javascript too) but I mostly google stuff and stackexchange stuff cause its confusing and hard and I don't really know it </p>
<p></p>
<p>inspired by TRENCHDOG.me (which is now thatwasfuckingawesome.com) aswell as https://faworldentertainment.com/ for the general gallery idea  </p>
<p></p>
<p>- I use blender for the 3d logos</p>
<p></p>
<p>- I hosted this on netlify </p>
<p></p>
<p>- started this on a chromebook text file but use gitlab now </p>
<p></p>
<p>- domain might change over time </p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>-made by me (al enrique, altimes6, lsa1400, futurama, LSA6, times10, 2020vsn) all of those names are me </p>
<p></p>
</div>
